body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.subDiv{
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    margin: 0px;
    padding: 0;
    transition-duration: 2s;

}
.main-container{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    width: 960px;
    height: 960px;
    padding: 5px;
}
.subDiv:hover{
    background-color:blue;
    transition-duration: 0.1ms;
}
.menu{
    height: 200px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset {
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
}
#reset:hover{
    border: 1px solid black;
}